@import "./variables.css";
@import "./components.css";

body
{
  display: flex;
  height: 100vh;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
  font-family: var(--ff-normal);
}

main
{
  /* min-width: 232px; */
  border-radius: 1rem;
  
  background-color: var(--clr-primary-dark-blue);

  color: var(--clr-neutral-white);
}

.card__content
{
  padding: 1.5em;
}

.card__content > *
{
    margin: 1em 0;
}

.card__description
{
  font-weight: 200;  
  color: var(--clr-ttransparent-white);
}

.record__description
{
    display: block;

    font-weight: 200;
    color: var(--clr-transparent-white);
}

h1,
h2
{
}


.card__title, .card__description,
.record, .record__description
{
    border: 1px solid;
    text-align: center;
}

.card__title
{
    line-height: 40px;
}

.record__description
{
  font-family: var(--ff-accent);

  color: var(--clr-ttransparent-white);
}