@import "./variables.css";
@import "./components.css";
@import "./responsive.css";

body
{
  padding: 2rem;

  display: flex;
  flex-flow: column wrap;
  align-items: center;
  font-family: var(--ff-normal);

  background-color: var(--clr-primary-dark-blue);

  color: var(--clr-neutral-white);
}




/***************************************************\
*             Main design of the card               *
\***************************************************/
main
{
  min-width: 17rem;
  margin: 4rem 0;
  max-width: 1000px;

  overflow: hidden;
  border-radius: 1rem;
  
  background-color: var(--clr-primary-desaturated-blue);

  color: var(--clr-neutral-white);

  transition: all 0.3s ease-in;
}

main:hover
{
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.4);
}





/***************************************************\
*        Section of the content of the card         *
\***************************************************/
.card__img
{
    max-width: 100%;
}

.card__content
{
  padding: 1.5rem;
}

.card__content > *
{
  margin: 1.5rem 0;
  text-align: center;
}

.card__title
{
  line-height: 40px;
}

.card__description,
.record__description
{
  font-weight: var(--fw-light);  
}

.record__description
{
    display: block;
}




/***************************************************\
*         Section of the footer of the card         *
\***************************************************/
.attribution
{ 
  font-size: 11px;
  text-align: center; 
}

.attribution a
{
  color: hsl(228, 45%, 44%); 
  text-decoration: none;
}